name: rb_share
description: "A new Flutter project."

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.2.3 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  android_path_provider: ^0.3.0
  dartz: ^0.10.1
  device_info_plus: ^9.1.1
  equatable: ^2.0.5
  file_picker: ^6.1.1
  flutter_downloader: ^1.11.6
  get_it: ^7.6.4
  go_router: ^13.0.0
  hive: ^2.2.3
  http: ^1.1.2
  http_parser: ^4.0.2
  mime: ^1.0.4
  network_info_plus: ^4.1.0
  open_filex: ^4.3.4
  path: ^1.8.3
  path_provider: ^2.1.1
  permission_handler: ^11.1.0
  provider: ^6.1.1
  share_plus: ^7.2.1
  shared_preferences: ^2.2.2
  shelf: ^1.4.1
  shelf_router: ^1.1.4
  shelf_static: ^1.1.2
  stop_watch_timer: ^3.0.2
  qr_code_scanner: ^1.0.1
  qr_flutter: ^4.1.0
  uuid: ^4.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
